@media print 
{
    .noPrint 
    {
        display:none;
    }

    .header_container {
        display: none;
    }
}

.nav_link_normal {
    color: blue;
}

.nav_link_admin {        
    color: #008800;
}

.navigation_table {
    font-size: 16pt;
}

.navigation_table_name {
    font-size: 16pt;
    padding: 5px;
    border-bottom: 1px dotted #C0C0C0;
}


.navigation_table_name a {    
    text-decoration: none;
}

.navigation_table_description {
    font-size: 12pt;
    border-bottom: 1px dotted #C0C0C0;
    padding: 5px;
}

body {
    font-size: 10pt;
    font-family: Arial;
    padding: 0;
    margin: 0;
}

.rc_heading_lskysd {
    font-size: 12pt;
    font-weight: normal;
}

.rc_heading_schoolname {
    font-size: 20pt;
    font-weight: bold;
    text-align: center;
}

.rc_heading_date {
    text-align: center;
    font-size: 10pt;
    font-weight: bold;
}

.rc_studentname {
    font-size: 14pt;
    font-weight: bold;
}

.pagebreak {
    page-break-after: always;
}

.rc_objectivetext {
    font-size: 9pt;
}

.course_name {
    font-size: 14pt;
    font-family: Arial;
}

#loggedInUserBanner {        
    font-size: 8pt;
    text-align: right;
    padding: 10px;    
    border: 0;
    border-bottom: 1px solid #404040;
    border-left: 1px solid #404040;
    background-color: #202020;
    float: right;
    color: white;
}

#loggedInUserBanner a {
    color: white;
}

h1 {
    font-family: Arial;
}

.CenteredTable {
    margin-left: auto;
    margin-right: auto;
}

.LoginFormContainer {
    border: 1px solid #C0C0C0;
    background-color: #F0F0F0;
    text-align: center;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.small_infobox {
    background-color: #F0F0F0;
    font-size: 10pt;
    border: 1px solid #C0C0C0;
    padding: 0px;
    padding-left: 5px;
    padding-right: 5px;
}

.button {
    margin: 20px;
    padding: 10px;
    width: 200px;
    border: 1px solid #555555;
    background-color: #C0C0C0;
    display: block;
    text-decoration: none;
    color: black;
    text-align: center;
    font-weight: bold;
}

.datatable_header {
    border: 1px solid black;
    background-color: #555555; 
    color: white;
    font-size: 10pt;
}

.datatable_sub_header {
    border: 1px solid black;
    background-color: #DDDDDD; 
    color: black;
    font-size: 10pt;
}

.datatable tr.row:hover td, .datatable tr.altrow:hover td {
    color: #000;
    background-color: #FFFACD;
}

.datatable td {
    border: 1px solid #D0D0D0;
    font-size: 10pt;
}


.td_total {
    font-weight: bold;
}

.td_male {
    background-color: #F0F0F0;
}

.td_female {    
    background-color: #F0F0F0;
}

.header_container {
  color: #FFFFFF;
  height: 85px;
  /* background-color: #404040; */
  background-color: #000000;
  border: 0;
  border-bottom: 2px solid #909090;
  padding-bottom: 0px;
}

.header_centeredcontent {
  padding-top: 5px;
  width: 800px;
  text-align: left;
}

.navbar {
    padding: 10px;
    margin-left: 10px;
}

.header_button:hover {
    background-color: #FFFACD;
}

.header_button {
    color: black;
    text-decoration: none;
    font-size: 10pt;
    font-family: Arial;
    border: 1px solid #666666;
    background-color: #C0C0C0;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;

}

.large_infobox_important {    
    padding: 20px;
    font-size: 12pt;
    border: 1px solid #dbb936;
    background-color: #fadf88;
}

.nav_link {
    font-weight: bold;
    color: #ff7d00;
    font-size: 12pt;
}

.large_infobox {
    padding: 20px;
    font-size: 12pt;
    border: 1px solid #C0C0C0;
}

.footer {
    font-size: 10pt;
    text-align: center;
    border: 0;
    border-top: 1px solid #C0C0C0;
    margin: 25px;
    padding: 5px;
}

.search_result {
    background-color: #00FFFF;
}